@use "../../../global/setting" as *;
@use "../../../global/mixin/form";

.CpassForm {
  position: relative;

  &__requiredIcon {
    color: red;
    font-size: 10px;
    margin-right: 1%;
  }
  &__input {
    @include form.form-input;
    position: relative;
  }
  &__isRevealPasswordIcon {
    position: absolute;
    top: 10%;
    left: 85%;
  }
  &__error-message {
    color: red;
    font-size: 13px;
  }
input:invalid ~ &__error-message {
  display: block;
  height: 30px;
  text-align: left;
  margin-left: 40px;
  line-height: 1.5rem;
}
input:valid ~ &__error-message {
  display: none;
}
input:placeholder-shown ~ &__messageBox {
  display: none;
}
}
