@use "./mobile";

@mixin button {
    justify-self: center;
    border: none;
    background-color: #0d6efd;
    color: #fff;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 8px;
    font-size: 14px;
    margin: 5px;
    &:hover{
        cursor: pointer;
        opacity: 0.7;
    }
    @media screen and (max-width: 767px){
      font-size: 12px;
  }
  }
