@mixin icon-image {
  border-radius: 50%;
  width: 14%;
  aspect-ratio: 1/1;
  border: solid 1px lightgray;
}

@mixin icon-image__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
