version: "3.9"
services:
  react-app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/usr/src/app
    command: sh -c "npm install && npm start"
    ports:
      - "3000:3000"
    stdin_open: true
