@use "../../global/mixin" as *;

.header {
  width: 100%;
  max-width: 600px;
  min-width: 350px;
  background: -moz-linear-gradient(#ffb03c, #ff708d);
  background: -webkit-linear-gradient(#ffb03c, #ff708d);
  background: linear-gradient(to right, #ffb03c, #ff708d);
  color: #fff;
  position: fixed;
  margin: 0 auto;
  z-index: 999;
  top: 0;
  box-sizing: border-box;
  &__logo {
    width: 10%;
    margin: auto 0;
  }
  &__btns {
    margin: auto 0 auto auto;
    display: flex;
    &--addPost {
        width: 100%;
        background: none;
        border: none;
        &:hover {
            cursor: pointer;
        }
    }
    &--nav {
        width: 100%;
        background: none;
        border: none;
        &:hover {
            cursor: pointer;
        }
    }
  }
}

.headerWarpper {
    width: 85%;
  display: flex;
  margin: 0 auto;
}

.iconTest {
  @include mobile {
    size: 30;
    display: block;
  }
}
