@use "../../../global/setting/" as *;
@use "../../../global/mixin/" as *;

.upDateIcon {
    &__img {
        margin: 0 auto;
        position: relative;
        cursor: pointer;
        &--imgBlock {
            margin: 0 auto;
            cursor: pointer;
        }
    }
    &__label {
        background-color: #0d6efd;
        padding: 3px;
        cursor: pointer;
        display: block;
        width: 32px;
        border-radius: 50%;
        height: 32px;
        position: absolute;
        top: 81%;
        left: 60%;
    }
    &__input {
        display: none;
    }
}
