.FileBtn {
    border: 1px solid;
    display: inline-block;
    padding: 2px 1em;
    position: relative;
    width: 50%;
    height: 50%;

}
/* .FileBtn input[type="file"] { */
    /* height: 0; */
    /* left: 0; */
    /* opacity: 0; */
    /* position: absolute; */
    /* top: 0; */
    /* width: 0; */
/* } */

.Textarea {
    border: 1px solid;
    display: inline-block;
    padding: 2px 1em;
    position: relative;
    width: 50%;
    height: 50%;
}

.Textarea input[type="text"]{
    opacity: 0;
}
