.keepBtn {
  background-color: transparent;
  color: black;
  padding: 0;
  border: none;
}
.keepBtn__img {
  width: 30px;
  height: 30px;
}

.keepBtn {
  background-color: transparent;
  color: black;
  padding: 0;
  border: none;
}
.keepBtn__img {
  width: 30px;
  height: 30px;
}

.backBtn__icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

.btn {
  justify-self: center;
  border: none;
  background-color: #0d6efd;
  color: #fff;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 8px;
  font-size: 14px;
  margin: 5px;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.navBtn {
  width: 100%;
  background: none;
  border: none;
  color: rgb(38, 38, 38);
  padding: 3px 15px;
  text-align: left;
  justify-content: space-between;
  height: 100%;
  display: flex;
}
.navBtn:hover {
  cursor: pointer;
  opacity: 0.6;
}
.navBtn--icon {
  color: rgb(38, 38, 38);
  margin-left: auto;
  margin-right: 5px;
}

.searchBtn {
  background: none;
  color: rgb(38, 38, 38);
  margin: 2px 0 1px 3px;
  font-size: 16px;
  font-weight: 500;
  border: none;
}
.searchBtn:hover {
  cursor: pointer;
  opacity: 0.6;
}

.icon-image {
  border-radius: 50%;
  width: 14%;
  aspect-ratio: 1/1;
  border: solid 1px lightgray;
  background-color: white;
}
.icon-image__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.noIconImage {
  width: 100%;
  height: 100%;
  background-color: #d3d3d3;
  border-radius: 50%;
}

.icon-image {
  border-radius: 50%;
  width: 14%;
  aspect-ratio: 1/1;
  border: solid 1px lightgray;
  background-color: white;
}
.icon-image__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.noIconImage {
  width: 100%;
  height: 100%;
  background-color: #d3d3d3;
  border-radius: 50%;
}

.post-icon-image {
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1/1;
  border: solid 1px lightgray;
}
.post-icon-image__img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.noIconImage {
  width: 100%;
  height: 100%;
  background-color: #d3d3d3;
  border-radius: 50%;
}

.registerIcon {
  position: relative;
}

.icon-image {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: solid 1px lightgray;
}

.noIconImage {
  width: 100%;
  height: 100%;
  background-color: #d3d3d3;
  border-radius: 50%;
}

.addIcon {
  color: #0d6efd;
  position: absolute;
  top: 75%;
  left: 65%;
}

.form__requiredIcon {
  color: red;
  font-size: 10px;
  margin-right: 1%;
}
.form__input {
  width: 80%;
  height: 35px;
  background-color: #f7f7f7;
  outline: solid #d3d3d3;
  border: none;
  position: relative;
}
.form__isRevealPasswordIcon {
  position: absolute;
  top: 10%;
  left: 85%;
}
.form__error-message {
  color: red;
  font-size: 13px;
}
input:invalid ~ .form__error-message {
  display: block;
  height: 30px;
  text-align: left;
  margin-left: 40px;
  line-height: 1.5rem;
}
input:valid ~ .form__error-message {
  display: none;
}
input:-moz-placeholder-shown ~ .form__messageBox {
  display: none;
}
input:-ms-input-placeholder ~ .form__messageBox {
  display: none;
}
input:placeholder-shown ~ .form__messageBox {
  display: none;
}

.form__input {
  width: 80%;
  height: 35px;
  background-color: #f7f7f7;
  outline: solid #d3d3d3;
  border: none;
}

.form {
  position: relative;
}
.form__input {
  width: 80%;
  height: 35px;
  background-color: #f7f7f7;
  outline: solid #d3d3d3;
  border: none;
}
.form__isRevealPasswordIcon {
  position: absolute;
  top: 10%;
  left: 85%;
}

.inputRegister {
  width: 80%;
  height: 35px;
  background-color: #f7f7f7;
  outline: solid #d3d3d3;
  border: none;
  margin-left: 16px;
}

.form {
  position: relative;
}
.form__requiredIcon {
  color: red;
  font-size: 10px;
  margin-right: 1%;
}
.form__input {
  width: 80%;
  height: 35px;
  background-color: #f7f7f7;
  outline: solid #d3d3d3;
  border: none;
}
.form__isRevealPasswordIcon {
  position: absolute;
  top: 10%;
  left: 85%;
}
.form__error-message {
  color: red;
  font-size: 13px;
}
input:invalid ~ .form__error-message {
  display: block;
  height: 30px;
  text-align: left;
  margin-left: 40px;
  line-height: 1.5rem;
}
input:valid ~ .form__error-message {
  display: none;
}
input:-moz-placeholder-shown ~ .form__messageBox {
  display: none;
}
input:-ms-input-placeholder ~ .form__messageBox {
  display: none;
}
input:placeholder-shown ~ .form__messageBox {
  display: none;
}

.form__requiredIcon {
  color: red;
  font-size: 10px;
  margin-right: 1%;
}
.form__input {
  width: 80%;
  height: 35px;
  background-color: #f7f7f7;
  outline: solid #d3d3d3;
  border: none;
}
.form__error-message {
  color: red;
  font-size: 13px;
}
input:invalid ~ .form__error-message {
  display: block;
  height: 30px;
  text-align: left;
  margin-left: 40px;
  line-height: 1.5rem;
}
input:valid ~ .form__error-message {
  display: none;
}
input:-moz-placeholder-shown ~ .form__messageBox {
  display: none;
}
input:-ms-input-placeholder ~ .form__messageBox {
  display: none;
}
input:placeholder-shown ~ .form__messageBox {
  display: none;
}

.postImage {
  width: 100%;
  margin-top: 10px;
  aspect-ratio: 4/3;
}
.postImage__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.post {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.followCount {
  text-align: center;
  width: 80px;
}
.followCount:hover {
  opacity: 0.7;
}
.followCount__number {
  font-weight: bold;
}

.followerCount {
  text-align: center;
  width: 80px;
}
.followerCount:hover {
  opacity: 0.7;
}
.followerCount__number {
  font-weight: bold;
}

.postCount {
  text-align: center;
  width: 80px;
}
.postCount__number {
  font-weight: bold;
}

.profileFollowerCount {
  text-align: center;
  width: 80px;
}
.profileFollowerCount:hover {
  opacity: 0.7;
}
.profileFollowerCount__number {
  font-weight: bold;
}

.keepPostList {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}
.keepPostList__image {
  width: calc((100% - 6px) / 3);
  aspect-ratio: 1/1;
}

.formFrame {
  line-height: 5rem;
}

.info {
  display: flex;
  width: 330px;
  justify-content: space-between;
}

.form {
  line-height: 5rem;
}
.form__icon {
  width: 130px;
  height: auto;
  margin: 0 auto;
}
.form__loading-input {
  display: none;
}
.form__loaded-image {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: solid 1px lightgray;
}
.form__loaded-image--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.form__requiredText {
  color: red;
  font-size: 14px;
  margin-left: 50px;
  text-align: left;
}
.form__requiredIcon {
  color: red;
  font-size: 10px;
  margin-right: 1%;
}

.threeRowsPostList {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}
.threeRowsPostList__image {
  width: calc((100% - 6px) / 3);
  aspect-ratio: 1/1;
}
.threeRowsPostList__image:hover {
  opacity: 0.7;
}
.threeRowsPostList__message {
  margin-top: 10%;
  text-align: center;
}

.userData {
  display: flex;
  gap: 3%;
  align-items: center;
  margin-top: 3%;
}
.userData:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}
.userData__userName {
  font-weight: bold;
}

.nav {
  width: 65%;
  margin: 0 auto;
}
.nav__ul {
  padding: 5px 0;
  position: fixed;
  top: 100px;
  right: 30%;
  list-style: none;
  width: 20%;
  background-color: #f7f7f7;
  box-shadow: 0 0px 10px 7px rgba(0, 0, 0, 0.1);
  font-size: 19px;
  z-index: 800;
}
.nav__ul--li {
  width: 100%;
  border-bottom: 2px solid #e7e7e7;
  padding: 5px 0;
}
.nav__ul--li:last-child {
  border: none;
}
.nav__ul--liLogout {
  width: 100%;
  background: none;
  border: none;
  color: rgb(38, 38, 38);
  padding: 3px 15px;
  text-align: left;
  justify-content: space-between;
  height: 100%;
  display: flex;
}
.nav__ul--liLogout:hover {
  cursor: pointer;
  opacity: 0.6;
}

.newpostuploadauter__textarea {
  height: 300px;
  width: 100%;
  margin-top: 5px;
}
.newpostuploadauter__btn {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.newpostuploadauter__postbtn {
  text-align: right;
}

.time {
  margin-left: auto;
  font-size: 16px;
}

.favolength {
  margin-left: 5px;
  font-size: 16px;
}

.commentdisplay__comset {
  display: flex;
  font-size: 16px;
  width: 100%;
  margin: 3px;
}
.commentdisplay__commentdisplay__username {
  font-weight: 500;
}
.commentdisplay__com {
  margin-left: 5px;
}

.caption {
  font-size: 16px;
  margin: 5px;
}

.searchForm {
  width: 65%;
  margin: 10px auto;
  position: fixed;
  top: 30px;
  z-index: 100;
  max-width: 600px;
  min-width: 350px;
}
.searchForm__input {
  width: 90%;
  line-height: 30px;
  border: 2px solid #1b4b36;
  border-radius: 5px;
  padding: 2px 10px;
}
.searchForm__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  cursor: pointer;
  background-image: url(../../public/x_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 0px;
  width: 15px;
  height: 15px;
}

.searchFormWapper {
  width: 100%;
  padding: 30px 10px 15px 20px;
}

.userDataTable {
  width: 100%;
  padding: 10px 0;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.userDataTable__tr {
  border-bottom: 1px dashed rgb(38, 38, 38);
  height: 5em;
}
.userDataTable__tr--title {
  width: 30%;
  padding: 10px;
}
.userDataTable__tr--content {
  width: 70%;
  padding: 10px;
}

.header {
  width: 100%;
  max-width: 600px;
  min-width: 350px;
  background: linear-gradient(to right, #ffb03c, #ff708d);
  color: #fff;
  position: fixed;
  margin: 0 auto;
  z-index: 999;
  top: 0;
  box-sizing: border-box;
}
.header__logo {
  width: 10%;
  margin: auto 0;
}
.header__btns {
  margin: auto 0 auto auto;
  display: flex;
}
.header__btns--addPost {
  width: 10%;
  background: none;
  border: none;
}
.header__btns--addPost:hover {
  cursor: pointer;
}
.header__btns--nav {
  width: 10%;
  background: none;
  border: none;
}
.header__btns--nav:hover {
  cursor: pointer;
}

.headerWarpper {
  width: 85%;
  display: flex;
  margin: 0 auto;
}

.footer {
  width: 100%;
  max-width: 600px;
  min-width: 350px;
  background-color: #f7f7f7;
  position: fixed;
  bottom: 0;
}
.footer__ul {
  width: 100%;
  margin: 15px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.footer__ul--li {
  border-right: 2px solid rgb(38, 38, 38);
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
.footer__ul--li:last-child {
  border: none;
}
.footer__ul--liLink {
  width: 100%;
  display: block;
  text-align: center;
}
.footer__ul--liLink:hover {
  cursor: pointer;
}
.footer__ul--liIcon {
  margin: auto;
  display: block;
}

.accountSetting__title {
  margin-bottom: 20px;
}
.accountSetting__btns {
  display: flex;
  margin: 5px 0;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.accountSetting__btns--btn {
  justify-self: center;
  border: none;
  background-color: #0d6efd;
  color: #fff;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 8px;
  font-size: 14px;
  margin: 5px;
}
.accountSetting__btns--btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.login {
  display: flex;
  justify-content: space-around;
}
.login__iphone {
  width: 35%;
  height: auto;
}
.login__img {
  width: 100%;
  height: 100%;
}
.login__contents {
  background-color: #f7f7f7;
  outline: solid #d3d3d3;
  text-align: center;
  width: 50%;
}
.login__logo {
  width: 100px;
  height: 100px;
  margin: 10% auto;
}
.login__link {
  color: #0d6efd;
}

.myPage__userName {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.myPage__info {
  display: flex;
  justify-content: space-around;
  gap: 10%;
  margin: 10px 20px;
  align-items: center;
}
.myPage__name {
  font-weight: bold;
}
.myPage__profile {
  margin-top: 10px;
  margin-bottom: 10px;
}
.myPage__messageLink {
  color: #0d6efd;
}

.profile__userName {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.profile__info {
  display: flex;
  justify-content: space-around;
  gap: 10%;
  margin: 10px 20px;
  align-items: center;
}
.profile__threeCount {
  display: flex;
  width: 330px;
  justify-content: space-between;
  position: relative;
}
.profile__name {
  font-weight: bold;
}
.profile__profile {
  margin-top: 10px;
  margin-bottom: 10px;
}
.profile__btnWrapper {
  display: flex;
}
.profile__dmBtn {
  height: 30px;
}

.registerContents {
  background-color: #f7f7f7;
  outline: solid #d3d3d3;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
.registerContents__logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.registerContents__loginLink {
  color: #0d6efd;
}

.postediting__textarea {
  height: 300px;
  width: 100%;
  margin-top: 5px;
}
.postediting__btns {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.postediting__btn {
  text-align: right;
}

.postlook__iconusername {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}
.postlook__postIcon {
  width: 10%;
}
.postlook__username {
  font-size: 20px;
  margin-left: 5px;
}
.postlook__favocomkeep {
  display: flex;
  margin-bottom: 0;
}
.postlook__favo {
  margin: 10px 5px 0px 5px;
}
.postlook__favo:hover {
  opacity: 0.5;
}
.postlook__com {
  margin: 10px 5px 0px 5px;
}
.postlook__com:hover {
  opacity: 0.5;
}
.postlook__keep {
  margin: 5px 5px 0px auto;
}
.postlook__keep:hover {
  opacity: 0.5;
}
.postlook__favolengthtime {
  display: flex;
}
.postlook__comdisplay {
  display: flex;
  width: 100%;
}
.postlook__cominput {
  display: flex;
  width: 70%;
  height: 30px;
  margin: 5px;
}
.postlook__input {
  width: 100%;
}
.postlook__btn {
  margin-left: auto;
  width: 30%;
}
.postlook__closebtn {
  display: block;
  margin: 15px 0 0 auto;
  align-items: center;
}

.newpost__inputfileset {
  border: solid 1px #333;
  height: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.newpost__inputfileicon {
  width: 100%;
}
.newpost____input {
  border-radius: 3px;
  padding: 3px;
  position: relative;
  background-color: #0d6efd;
  margin: 0 auto;
  align-items: center;
  width: 200px;
}
.newpost__inputletter {
  color: #fff;
}
.newpost__file {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.postdetails__iconusername {
  display: flex;
  align-items: center;
  width: 100%;
}
.postdetails__icon {
  width: 10%;
}
.postdetails__username {
  font-size: 20px;
  margin-left: 5px;
}
.postdetails__closebtn {
  margin-left: auto;
}
.postdetails__closebtnicon {
  display: block;
}
.postdetails__favocomkeep {
  display: flex;
}
.postdetails__favo {
  margin: 10px 5px 0px 5px;
}
.postdetails__favo:hover {
  opacity: 0.5;
}
.postdetails__com {
  margin: 10px 5px 0px 5px;
}
.postdetails__com:hover {
  opacity: 0.5;
}
.postdetails__keep {
  margin: 5px 5px 5px auto;
}
.postdetails__keep:hover {
  opacity: 0.5;
}
.postdetails__postcommentset {
  display: flex;
  width: 100%;
}
.postdetails__postcomment {
  display: flex;
  width: 70%;
  height: 30px;
  margin: 5px;
}
.postdetails__postcommentinput {
  width: 100%;
}
.postdetails__postcommentbutton {
  margin-left: auto;
  width: 30%;
}
.postdetails__displaycomment {
  display: flex;
}
.postdetails__commentclosebtn {
  display: block;
  margin: auto 0 0 auto;
  align-items: center;
}

.searchPage {
  margin-top: 20px;
}
.searchPage__resultUserList {
  margin-top: 45px;
}
.searchPage__resultUserList--resultUser {
  display: flex;
  gap: 20px;
  padding: 15px;
}
.searchPage__resultUserList--resultUser:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}
.searchPage__resultUserList--resultUserDetail {
  margin: auto 0;
}
.searchPage__noMatchUser {
  margin-top: 100px;
  text-align: center;
}

*,
*:before,
*:after {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #f7f7f7;
  color: rgb(38, 38, 38);
  font-size: 1.6rem;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  min-width: 350px;
  max-width: 600px;
  margin: 0 auto;
  overflow-x: hidden;
  padding-top: 60px;
  padding-bottom: 120px;
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
}

img,
video,
object {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  transition: 0.4s;
  color: rgb(38, 38, 38);
}

a:hover {
  text-decoration: none;
}

p {
  display: block;
}

h1 {
  font-size: 20px;
  margin: 5px;
}

input, textarea {
  padding: 5px;
}

li {
  list-style: none;
}

/*--------------------------------------*
  * component
*--------------------------------------*/
/*--------------------------------------*
  * component/atoms
*--------------------------------------*/
/*--------------------------------------*
  * molecules
*--------------------------------------*/
/*--------------------------------------*

/*--------------------------------------*
  * organisms
*--------------------------------------*/
/*--------------------------------------*
  * templates
*--------------------------------------*/
/*--------------------------------------*
 * component/pages
*--------------------------------------*/
/*--------------------------------------*
 * foundation
*--------------------------------------*/
/*--------------------------------------*
 * global
*--------------------------------------*//*# sourceMappingURL=style.css.map */