.passwordChangeTable {
    width: 100%;
    padding: 10px 0;
    border-collapse: collapse;
    margin-top: 20px;
    &__tr {
        border-bottom: 1px dashed rgb(38, 38, 38);
        height: 5em;
        &--tdTitle {
            width: 40%;
            padding: 10px;
        }
        &--tdContent {
            padding: 10px;
        }
        &--tdInput {
            display: flex;
        }
    }
    &__confirmBtn {
        text-align: center;
        margin: 10px;
        &--noPushBtn {
            justify-self: center;
            border: none;
            background-color: #a0a0a0;
            color: #fff;
            padding: 5px 15px;
            font-size: 16px;
            border-radius: 8px;
            font-size: 14px;
            margin: 5px;
        }
    }
    &__icon {
        margin: auto 0 auto 10px;
    }
}
