@use "../../global/setting" as *;

.registerContents {
  background-color: $color-base;
  outline: solid #d3d3d3;
  text-align: center;
  width: 70%;
  margin: 0 auto;

  &__logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  &__loginLink {
    color: $color-btn;
  }
}
