.searchPage {
    margin-top: 20px;
    &__resultUserList {
        margin-top: 55px;
        &--resultUser {
            display: flex;
            gap: 20px;
            padding: 15px;
            &:hover {
                cursor: pointer;
                background-color: #f0f0f0;
            }
        }
        &--resultUserDetail {
            margin: auto 0;
        }
        &--resultUserName {
            color: #4141419e;
        }
    }
    &__noMatchUser {
        margin-top: 100px;
        text-align: center;
    }
}
