@use "../../global/setting" as *;
@use "../../global/mixin" as *;

.nav {
  width: 65%;
  margin: 0 auto;
  &__ul {
    padding: 5px 0;
    position: fixed;
    top: 100px;
    right: 30%;
    list-style: none;
    width: 20%;
    background-color: $color-base;
    box-shadow: 0 0px 10px 7px rgb(0 0 0 / 10%);
    font-size: 19px;
    z-index: 800;
    &--li {
        width: 100%;
        border-bottom: 2px solid #e7e7e7;
        padding: 5px 0;
        &:last-child {
            border: none;
        }
    }
    &--liLogout {
      width: 100%;
      background: none;
      border: none;
      color: $color-black;
      padding: 3px 15px;
      text-align: left;
      justify-content: space-between;
      height: 100%;
      display: flex;
      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
    }
  }
}
