@use "../../global/mixin/mobile";

.registerForm {
  line-height: 5rem;
  @include mobile.mobile {
    line-height: 6rem;
  }

  &__icon {
    width: 130px;
    height: auto;
    margin: 0 auto;

    @include mobile.mobile {
      width: 100px;
    }
  }
  &__loading-input {
    display: none;
  }
  &__loaded-image {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: solid 1px lightgray;
  }
  &__loaded-image--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  &__requiredText {
    color: red;
    font-size: 14px;
    margin-left: 50px;
    text-align: left;
    @include mobile.mobile {
      margin-left: 30px;
    }
  }
  &__requiredIcon {
    color: red;
    font-size: 10px;
    margin-right: 1%;
  }
}
