@use "../../global/mixin/mobile" as *;

.searchForm {
    width: 65%;
    margin: 10px auto;
    position: fixed;
    top: 30px;
    z-index: 100;
    max-width: 600px;
    min-width: 350px;
    &__input {
        width: 90%;
        line-height: 30px;
        border: 2px solid #1b4b36;
        border-radius: 5px;
        padding: 2px 10px;
        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            cursor: pointer;
            background-image: url(../../public/x_icon.png);
            background-repeat: no-repeat;
            background-size: cover;
            padding-right: 0px;
            width: 15px;
            height: 15px;
        }
        @include mobile {
            width: 85%;
        }
    }
}

.searchFormWapper {
    width: 100%;
    padding: 30px 10px 15px 20px;
}
