@use "../../global/setting" as *;
@use "../../global/mixin/mobile" as *;

.sendDm {
    width: 100%;
    max-width: 600px;
    min-width: 350px;
    margin: 8px auto;
    background-color: $color-base;
    position: fixed;
    bottom: 30px;
    &__input {
        width: 90%;
        line-height: 30px;
        border: 1px solid #818181;
        border-radius: 5px;
        padding: 2px 10px;
        @include mobile {
            width: 85%;
        }
    }
    &__btn {
        background: none;
        color: $color-btn;
        margin: 2px 0 2px 5px;
        font-size: 15px;
        border: none;
        font-weight: 600;
        &:hover {
            opacity: 0.6;
            cursor: pointer;
        }
    }
}

.sendDmWrapper {
    width: 100%;
    padding: 15px 10px 30px 20px;
}
