@use "../../../global/mixin/mobile";

.keepBtn {
  background-color: transparent;
  color: black;
  padding: 0;
  border: none;

  &__img {
    width: 25px;
    height: 25px;

    // @include mobile.mobile {
    //   width: 25px;
    //   height: 25px;
    // }
  }
}
