/*--------------------------------------*
  * component
*--------------------------------------*/
// @use "./layout/header";
// @use "./layout/footer";

/*--------------------------------------*
  * component/atoms
*--------------------------------------*/
@use "./component/atoms/button";
@use "./component/atoms/icon";
@use "./component/atoms/input";
@use "./component/atoms/pictures";
@use "./component/atoms/user";


/*--------------------------------------*
  * molecules
*--------------------------------------*/
@use "./component/molecules";
/*--------------------------------------*
  * organisms
*--------------------------------------*/
@use "./component/organisms";

/*--------------------------------------*
  * templates
*--------------------------------------*/

/*--------------------------------------*
 * component/pages
*--------------------------------------*/
@use "./component/pages";
/*--------------------------------------*
 * foundation
*--------------------------------------*/
@use "./foundation/base";
@use "./foundation";

/*--------------------------------------*
 * global
*--------------------------------------*/
@use "./global"

// https://pikawaka.com/html-css/bem
// 上みたいな感じでかこ〜
