input {
    background: linear-gradient(to bottom, transparent 92%, $color 8%) no-repeat;
    background-position: -300px 0;
    background-size: 300px 100%;
    display: block;
    width: 250px;
    padding: 5px 0;
    margin-top: 30px;
    border: none;
    border-bottom: solid 1px $color;
    font-size: 15px;
    transition: all 0.3s;
    
    // Stop that awful pale yellow background on webkit auto-fill
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px #F9F9F9 inset;
    }
    &:focus, &:valid {
      background-position: 0 0;
      outline: none;
      
      ~label {
        top: -12px;
        color: $color;
        font: 700 12px Roboto;
      }
    }
  }
