@use "../../../global/mixin/iconImg";
@use "../../../global/mixin/noIconImg";

.icon-image {
   @include iconImg.icon-image;
  // border-radius: 50%;
  // width: 14%;
  // aspect-ratio: 1/1;
  // border: solid 1px lightgray;

  &__img {
    @include iconImg.icon-image__img;
    // width: 100%;
    // height: 100%;
    // object-fit: cover;
    // border-radius: 50%;
  }
}
.noIconImage {
  @include noIconImg.noIconImage;
  // width: 100%;
  // height: 100%;
  // background-color: #d3d3d3;
  // border-radius: 50%;
}
