@use "../../../global/mixin/iconImg";
@use "../../../global/mixin/noIconImg";
@use "../../../global/setting" as *;

.registerIcon {
  position: relative;
  &:hover {
    cursor: pointer;
  }
}
.icon-image {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: solid 1px lightgray;
}
.noIconImage {
  @include noIconImg.noIconImage;
}
.addIcon {
  color: $color-btn;
  position: absolute;
  top: 75%;
  left: 65%;
}
