@use "../../../global/mixin/noIconImg";
@use "../../../global/setting" as *;

.registerIcon {
  position: relative;
  &:hover {
    cursor: pointer;
  }

  &__icon-image {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: solid 1px lightgray;
  }

  &__addIcon {
    color: $color-btn;
    position: absolute;
    top: 75%;
    left: 65%;
  }
}

.noIconImage {
  @include noIconImg.noIconImage;
}
